<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: meta_header('書籍一覧',~{::link},~{::script})}">
    <title th:text="${title}+' | MTLibrary'"></title>
    <link rel="stylesheet" th:href="@{/css/book/index.css}" />
    <script type="text/javascript" th:src="@{/js/book/index.js}"></script>
</head>
<body>
    <div class="contents">
        <div th:replace="~{common :: main_sidebar}"></div>
        <div class="main_contents">
            <div th:replace="~{common :: header}"></div>
            <div class="inner_contens">
                <div class="page_title">書籍一覧</div>
                <div style="text-align: right;">
                <button onclick="location.href='/mt_library/book/add'">書籍登録</button>
             </div>
            </div>
            <div class="book_list">
            <center>
           <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>書籍名</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${bookMstList}">
                <td>
                    <span th:text="${book.title}"></span>
                </td>
                <td th:text="${book.isbn}"></td>
            </tr>
        </tbody>
       </table>
      </center>
      </div>
       <div th:replace="~{common :: footer}"></div>
       </div>
    </div>
</body>
